:root{

    /* ==========
       COLORES
    ========== */

    --primary:#21783E;
    --primary-light:#2E8E57;
    --secondary:#1FA6A6;

    --accent:#4F46E5;

    --background:#F8FAFC;
    --surface:#FFFFFF;

    --text:#1E293B;
    --text-light:#64748B;

    --border:#E2E8F0;

    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;

    /* ==========
       RADIOS
    ========== */

    --radius-sm:12px;
    --radius-md:18px;
    --radius-lg:24px;

    /* ==========
       SOMBRAS
    ========== */

    --shadow-sm:0 6px 18px rgba(15,23,42,.06);

    --shadow-md:0 12px 30px rgba(15,23,42,.08);

    --shadow-lg:0 25px 60px rgba(15,23,42,.12);

    /* ==========
       TRANSICIONES
    ========== */

    --transition:.25s ease;

}